[Unit]
Description=Namecoin

[Service]
ExecStart=/usr/local/bin/namecoind -daemon
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Namecoin
User=root
Group=root

[Install]
WantedBy=multi-user.target